
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/python.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/encodings.xml
personal_finance_import/cs_july.csv
personal_finance_automation.py
